
body
  background hsl(0,0,90)
  margin 0px
  font-family 'wenquanyi micro hei', 'microsoft yahei'
  overflow-y scroll

*
  box-sizing border-box

#wrap
  width 1200px
  // background hsl(0,0,86)
  margin 0px auto
  padding-bottom 400px

#nav
  width 30%
  float left
  min-height 400px
  position fixed

  #search
    padding-top 200px
    padding-left 10px

    #box
      width 300px
      outline none
      border none
      height 30px
      font-size 20px
      padding-left 10px

#list
  width 70%
  float right
  min-height 400px
  padding-top 100px
  padding-bottom 500px

.module
  padding 10px
  background hsl(0,0,97)
  border-radius 4px
  line-height 30px
  margin 10px

  a
    text-decoration none
    background hsl(0,0,98)
    padding 4px
    border-radius 4px

  .auther
    font-size 14px
    margin-left 20px
    color gray

  .time
    color hsl(0,0,60)
    font-size 13px